#menu li:nth-child(2){ 
    border-bottom: 3px solid white;
}

#menu-planetas li:nth-child(4){
    border-bottom: 3px solid white;

}
@media (max-width: 400px){
    #container{
        background-image: url(/assets/destination/background-destination-mobile.jpg);
    }
    #content{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }
}